/* Box sizing rules */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	min-height: 100svh;
	text-rendering: optimizeSpeed;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* add curser pointure for buttons roles */
*[role="button"]{
	cursor: pointer;
	padding: 1rem;
}

blockquote,
q {
	quotes: none;
}

/* Make Links easier to work with */
a[role="link"] {
	display: block;
	text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
svg {
	display: block;
	max-width: 100%;
}

img[width][height] {
	height: auto;
	/* Preserve aspect ratio */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
*/

input,
button,
textarea,
select {
	font: inherit;
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
}

input,
input:required {
	box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
	-webkit-box-shadow: inset 0 0 0 30px #fff;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
}
input:focus {
	outline: none;
}

button,
input {
	line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	border: 0;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

[disabled] {
	pointer-events: none;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}

/* 1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016) */

table {
	border-collapse: collapse;
	border-spacing: 0;
	border-color: inherit; /* 2 */
	text-indent: 0; /* 1 */
}
hr {
	background: #0000007a;
	border: 0;
	box-sizing: content-box;
	height: 1px;
	line-height: 0;
	margin: 0;
	overflow: visible;
	padding: 0;
	page-break-after: always;
	width: 100%;
}
pre {
	font-family: "Fira Code", "Consolas", "Monaco", monospace;
	line-height: 1.5; /* Adjust the line height for readability */
	padding: 10px; /* Optional: Add padding for spacing */
	border: 1px solid #ccc; /* Optional: Add a border */
	overflow-x: auto; /* Enable horizontal scrolling for code blocks */
	font-size: 100%;
}
a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;
	text-decoration: none;
}
code,
kbd,
pre,
samp {
	font-family: ui-monospace, SFMono-Regular, "Liberation Mono", Menlo, "Fira Code", "Consolas", "Monaco", monospace;
}
small,
sub,
sup {
	font-size: 75%;
}
sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Add the correct font weight in Edge and Safari. */

b,
strong {
	font-weight: bolder;
}


/* fix hidden attribute  */
[hidden] { display: none; }

[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	outline: 0;
	padding: 0;
}
legend {
	border: 0;
	color: inherit;
	display: block;
	max-width: 100%;
	white-space: normal;
	width: 100%;
}
fieldset {
	min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
	display: block;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
	vertical-align: baseline;
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/* firefox */

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
