/**
 * Basic typography style for copy text
 */

@use "../abstracts" as *;

//* *********************** TYPOGRAPHY *******************************

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $font-bold;
}

h1 {
	font-size: $text-8xl;
	line-height: rfs(6.25rem);
	letter-spacing: 0.125rem;

	&.rgd-primary-100 {
		@include text-rgd-primary-100;
	}

	&.rgd-primary-200 {
		@include text-rgd-primary-200;
	}

	&.rgd-secondary-100 {
		@include text-rgd-secondary-100;
	}

	&.rgd-secondary-200 {
		@include text-rgd-secondary-200;
	}

	&.rgd-secondary-300 {
		@include text-rgd-secondary-300;
	}
}

h2 {
	font-size: $text-6xl;
	line-height: 4.4rem; /* 125.714% */
	color: $text-primary-100;
	letter-spacing: 0.08rem;
}

h3 {
	font-size: $text-4xl;
	line-height: 2.25rem; /* 112.5% */
	&.light-100 {
		color: $text-primary-100;
	}

	&.light-200 {
		color: $text-primary-300;
	}

	&.rgd-secondary-400 {
		@include text-rgd-secondary-400;
	}
}

h4 {
	font-size: 1.8125rem;
	line-height: 2rem; /* 110.345% */
	color: #e9e2ff;
}

p {
	font-size: $text-lg;
	font-weight: 400;
	line-height: 1.75rem;
	color: #d6d0e0;

	&.tag {
		@include pseudo("", 0.5em, 0, -1.5rem) {
			@include circle(13px);
			background-color: currentcolor;
		}

    margin: 0 auto 3rem;
		width: fit-content;
		font-weight: 700;
		color: #ab88fb;
	}

	&.tag.tag--sm {
		font-size: 0.6875rem;
		line-height: 1.5rem;
		letter-spacing: 0.1rem;
	}

	&.tag.tag--lg {
		line-height: 1.875rem;
		letter-spacing: .1em;
	}
}

a {
	@include on-event {
		color: rgb(204 0 255);
		text-decoration: underline;
		outline: none;
	}

	font-size: $text-base;
	font-weight: $font-bold;
	line-height: 1.5rem; /* 160% */
	color: #d6d0e0;
	text-transform: capitalize;
	letter-spacing: 0.1rem;
	transition: color var(--duration) var(--timing);
}



article {
	> ul,
	> ol {
		> li + li {
			margin-top: 1rem;
		}
	}

	* {
		+ h2 {
			margin-top: 4rem;
		}

		+ h3 {
			margin-top: 2rem;
		}
	}
}

strong {
	font-weight: $tdbc-strong-font-weight;
}



pre {
	display: inline-block;
	margin: 0;

	code {
		overflow-x: auto;
		display: block;
		padding: 0 1rem;
		font-size: 0.85rem;
		line-height: 1.4;
		white-space: pre-wrap;
	}
}

blockquote {
	margin-right: 0;
	margin-left: 0;
	padding-left: 1.5rem;
	color: tdbc-color("gray");
	border-left: 2px solid tdbc-color("secondary");

	&,
	p {
		font-size: $tdbc-h4-font-size;
	}

	+ * {
		margin-top: 3rem;
	}
}

.tdbc-lead {
	margin-bottom: 1em;
	font-size: $tdbc-lead-font-size;
	line-height: 1.3;
	letter-spacing: 0.01em;
}

.tdbc-list-unstyled {
	padding: 0;
	list-style: none;
}
