@use "../abstracts" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $font-bold;
	text-wrap: balance;
}

h1 {
	font-size: $text-8xl;
	line-height: $text-8xl;

	&.rgd-primary-100,
	& span.rgd-primary-100 {
		@include text-rgd-primary-100;
	}

	&.rgd-primary-200,
	& span.rgd-primary-200 {
		@include text-rgd-primary-200;
	}

	&.rgd-secondary-100,
	& span.rgd-secondary-100 {
		@include text-rgd-secondary-100;
	}

	&.rgd-secondary-200,
	& span.rgd-secondary-200 {
		@include text-rgd-secondary-200;
	}

	&.rgd-secondary-300,
	& span.rgd-secondary-300 {
		@include text-rgd-secondary-300;
	}

	@media (width<= $mq-md) {
		font-size: $text-5xl;
		line-height: $text-5xl;
	}

	@media (width<= $mq-sm) {
		font-size: 2.4rem;
		line-height: 2.4rem;
	}
}

h2 {
	font-size: $text-6xl;
	line-height: rfs(4.4rem);
	color: $text-primary-100;
	letter-spacing: 0.08rem;
}

h3 {
	font-size: $text-4xl;
	line-height: 2.25rem;

	&.light-100 {
		color: $text-primary-100;
	}

	&.light-200 {
		color: $text-primary-300;
	}

	&.rgd-secondary-400 {
		@include text-rgd-secondary-400;
	}
}

h4 {
	font-size: 1.8125rem;
	line-height: 2rem;
	color: $text-primary-300;
}

p {
	font-size: $text-lg;
	font-weight: $font-normal;
	line-height: 1.75rem;
	color: $text-primary-200;

	&.tag {
		@include pseudo("", 0.5em, 0, -1.5rem) {
			@include circle(13px);

			background-color: currentcolor;
		}

		width: fit-content;
		margin: 0 auto 3rem;
		font-weight: $font-bold;
		color: $text-secondary-100;
	}

	&.tag.tag--sm {
		font-size: 0.6875rem;
		line-height: 1.5rem;
		letter-spacing: 0.1rem;
	}

	&.tag.tag--lg {
		line-height: 1.875rem;
		letter-spacing: 0.1em;
	}
}

a {
	font-size: $text-base;
	font-weight: $font-bold;
	line-height: 1.5rem; /* 160% */
	color: inherit;
	text-transform: capitalize;
	letter-spacing: 0.1rem;
	transition: color $main-transition-delay cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		color: $bg-links;
	}
}

strong {
	font-weight: $font-bold;
}
