$breakpoints: (
	sm: 30em,
	md: 50em,
	lg: 75em,
);

@mixin media-query($key) {
	$size: map-get($breakpoints, $key);

	@if $size {
		@media only screen and (min-width: $size) {
			@content;
		}
	} @else {
		@error '`#{$key}` does not exist in the $breakpoints';
	}
}
