/* breakpoints */
// $breakpoints: (
// 	sm: 640px,
// 	md: 768px,
// 	lg: 1024px,
// 	xl: 1280px,
// 	"2xl": 1536px,
// ) !default;

/* breakpoints */
$mq-sm: 480px;
$mq-xsm: 640px;
$mq-md: 768px;
$mq-xmd: 991px;
$mq-lg: 1024px;
$mq-xl: 1280px;
$mq-2xl: 1536px;
