@use "../abstracts" as *;

.distribute {
	position: relative;

	// container-type: inline-size;
	width: 97vw;
	width: 97svw;
	height: 95vh;
	height: 95svh;
	margin: 0 auto $margin-section;

	&__video {
		position: absolute;
		z-index: 3;
		inset: 0%;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: $rounded;
	}

	&__video:nth-child(2) {
		z-index: 2;
	}

	&__video:nth-child(3) {
		z-index: 1;
	}

	&__flex {
		position: relative;
		z-index: 4;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		margin-left: 15%;
		padding-block: 5rem;

		@container (width < 700px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		max-width: 45rem;

		&-tag {
			margin: 0 30px;
		}

		&-desc {
			display: flex;
			gap: rfs(4rem);
			align-items: center;

			@media (width<=400px) {
				flex-wrap: wrap;
				gap: 0.5rem;
				justify-content: flex-start;
			}
		}
	}

	&__progress {
		margin-top: 2rem;
	}

	// tablet and mobile devices
	@media (width<= $mq-xmd) {
		& {
			display: none;
		}

		&-mobile {
			@include adaptive(2px);

			display: block;
			display: flex;
			flex-direction: column;
			gap: 3rem;
			margin-block-end: $margin-section;

			&__video {
				height: auto;
				border-radius: $rounded;
			}
		}

		&__flex {
			width: 90%;
			height: 80%;
			margin: 0 auto;
			padding-inline: 1rem;
		}

		&__item {
			z-index: 4;
		}
	}

	@media (width<=600px) {
		&-mobile {
			max-width: 93%;
			margin-inline: auto;
		}
	}
}
