@use "../abstracts" as *;

header {
	@include adaptive(2px);

	display: flex;
	justify-content: space-between;
	padding: 2rem 0.75rem; // top/bottom  right/left

	// .logo a {
	// 	height: 100%;
	// 	background-image: url("~assets/images/logo.png");
	// 	background-position: center center;
	// 	background-size: cover;
	// }

	nav {
		display: flex;
		gap: rfs(2.5rem);
		align-items: center;
	}
}

.hero {
	position: relative;
	max-width: 75%;
	height: 70vh;
	margin: 0 auto;

	&__camera-frames,
	&__lines {
		width: 100%;
		height: 100%;
	}

	&__camera-frames-svg,
	&__lines-svg {
		position: absolute;
	}

	&__camera-frames-svg {
		z-index: 2;
	}

	&__lines-svg {
		z-index: 3;
	}
}

//?  ------------------------ record section ------------------------

.record {
	@include adaptive(2px);

	position: relative;
	container-type: inline-size;
	margin: $margin-section auto;

	// add gradiant-blur effect in the background
	&__gradiant-blur-img {
		position: absolute;
		z-index: -1;
		top: -1%;
		left: -5%;
		width: 90rem;
		max-width: none;
	}

	// Record Container
	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		gap: 1.5rem;

		@container (width < 700px) {
			grid-template-columns: 1fr;
			column-gap: 0;
		}
	}

	// Record Cards
	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $bg-cards;
		border-radius: $rounded;

		&-title {
			z-index: 3;
		}

		&-img {
			position: relative;
			z-index: 3;
		}

		&:nth-child(1),
		&:nth-child(2) {
			padding-bottom: 2rem;
			padding-inline: 2rem;
		}

		&:nth-child(2) {
			container-type: inline-size;
		}

		&:nth-child(1) & {
			&-img-container {
				// add gradient border animation
				@include pseudo {
					will-change: transform;
					z-index: 1;
					top: 50%;
					left: 50%;
					transform-style: preserve-3d;
					transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(226.685deg) skew(0deg, 0deg);
					translate: -50% -50%;
					width: calc(100% + 5rem);
					height: calc(100% + 5rem);
					background-image: linear-gradient(159deg, #1e1628, rgb(30 22 40 / 0%) 85%);
					border-radius: 50%;
					animation: rotateAnimation 3.5s linear infinite;
				}

				// add shadow effect
				@include pseudo("", -20%, 0, -20%, 0, "after") {
					z-index: 1;
					width: calc(100% + 5rem);
					height: calc(100% + 5rem);
					background-image: linear-gradient(rgb(5 3 8 / 0%) 74%, #050308 91%);
				}

				z-index: 3;
				width: 11.375rem;
				height: 11.375rem;
				margin-top: 4.375rem;
				margin-bottom: 2.5rem;
			}
		}

		&:nth-child(2) & {
			&-img-container {
				position: relative;
				overflow: hidden;

				@container (width < 400px) {
					margin-top: 2rem;
				}
			}

			&-img {
				margin-bottom: 2rem;

				@container (width < 400px) {
					margin-top: 1rem;
				}
			}

			&-title {
				margin-bottom: 2rem;
				text-align: center;
			}

			&-shadow-blur-img {
				position: absolute;
				z-index: 3;
				top: -11.3rem;
				right: -20rem;
				width: 67.875rem;
				max-width: 943%;

				@container (width < 400px) {
					top: -12.3rem;
				}

				@container (width < 350px) {
					top: -11.2rem;
					width: 66.875rem;
				}
			}

			&-voice-wave-img {
				position: absolute;
				z-index: 3;
				top: 0.625rem;
				right: 50%;
				translate: 50%;
				width: 33.333333%;
				height: fit-content;
			}
		}

		&:nth-child(3) {
			// add shadow effect
			@include pseudo("", auto, 0, 0, 0) {
				z-index: 2;
				width: 100%;
				height: 47%;
				background-image: linear-gradient(rgb(0 0 0 / 0%), #000);
			}

			@container (width < 700px) {
				grid-column: 1;
				grid-row: 1;
			}

			position: relative;
			overflow: hidden;
			grid-area: 1/2 / span 2 / span 2;
			min-height: 481px;
		}

		&:nth-child(3) video {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: left;
		}

		&:nth-child(3) &-title {
			position: absolute;
			top: 81.3%;
			left: 30px;
			color: white;
		}
	}
}

//?  ------------------------ AI section ------------------------

.ai {
	position: relative;
	overflow: hidden;
	margin: $margin-section auto;

	// add gradiant-blur effect in the background
	&__gradiant-blur-img {
		position: absolute;
		z-index: -1;
		top: -30%;
		width: 103rem;
		max-width: none;
	}

	&__main {
		display: flex;
		flex-wrap: wrap;
		gap: 0.375rem;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

	&__mockup {
		height: 79vh;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 3.375rem;
		justify-content: flex-end;
		height: 70vh;
	}

	&__desc {
		max-width: 25rem;

		&-title {
			margin-bottom: 2rem;
		}
	}

	&__progress {
		display: flex;
		gap: 2rem;
		align-items: flex-end;
		height: 40px;

		&-bar {
			will-change: height;
			width: 1px;
			height: 25%;
			background-color: #8c20f8;
		}
	}
}

//?  ------------------------ Edit section ------------------------

.edit {
	position: relative;
	overflow: hidden;
	margin: $margin-section auto;

	&__grid {
		position: relative;
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: min-content 1fr 1fr 1fr 1fr 1fr min-content;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		column-gap: 2rem;
		height: 100svh;
		padding-block: rfs(5rem);
		padding-inline: rfs(2rem);
	}

	// add gradiant-blur effect in the background
	&__gradiant-blur-img-center {
		position: absolute;
		z-index: -1;
		top: -54%;
		width: 97rem;
		max-width: none;
	}

	&__gradiant-blur-img-bottom {
		position: absolute;
		z-index: 99;
		top: 58%;
		width: 120.375rem;
		max-width: 999%;
		height: 34rem;
		background-color: #100919;
		filter: blur(60px);
		border-radius: 50%;
	}

	&__section1 {
		grid-area: 1 / 6 / 2 / 7;
	}

	&__section2 {
		grid-area: 2 / 6 / 4 / 7;
		align-self: end;
		height: 75%;
	}

	&__section3 {
		grid-area: 1 / 5 / 4 / 6;
		align-self: center;
	}

	&__section4 {
		grid-area: 2 / 3 / 4 / 4;
		align-self: center;
		height: 75%;
	}

	&__main {
		grid-area: 1 / 4 / 6 / 5;

		&-assets {
			position: relative;
		}

		&-img {
			position: absolute;
			top: 2%;
			left: 5%;
			width: 90.5%;

			&--right {
				position: absolute;
				z-index: 6;
				top: 7%;
				left: 60%;
				width: 80%;
				visibility: hidden;
			}

			&--left {
				position: absolute;
				z-index: 6;
				top: 7%;
				left: -40%;
				width: 80%;
				visibility: hidden;
			}
		}

		&-img:nth-child(2) {
			z-index: 5;
		}

		&-img:nth-child(3) {
			z-index: 4;
		}

		&-img:nth-child(4) {
			z-index: 3;
		}

		&-img:nth-child(5) {
			z-index: 2;
		}

		&-img:nth-child(6) {
			z-index: 1;
		}

		&-text {
			position: absolute;
			z-index: 99;
			bottom: 9%;
			left: -50%;
			display: flex;
			flex-direction: column;
			gap: 2.5rem;
			align-items: center;
			width: 210%;
		}

		&-desc {
			display: flex;
			flex-direction: column;
			align-items: center;

			&-icon {
				margin-bottom: 2rem;
			}

			&-title {
				text-transform: capitalize;
			}

			&-paragraph {
				margin-top: 1rem;
			}
		}
	}

	&__section5 {
		grid-area: 4/2/4/3;
	}

	&__section6 {
		grid-area: 1 / 2 / 4 / 3;
		align-self: center;
	}

	&__progress {
		display: flex;
		gap: 2rem;
		align-items: flex-end;
		height: 40px;

		&-bar {
			will-change: height;
			width: 1px;
			height: 25%;
			background-color: #8c20f8;
		}
	}
}

//?  ------------------------ Sound section ------------------------

.sound {
	@include adaptive(2px);

	position: relative;
	container-type: inline-size;
	margin: $margin-section auto;

	// add gradiant-blur effect in the background
	&__gradiant-blur-img {
		position: absolute;
		z-index: -1;
		top: -4%;
		left: -18%;
		width: 90rem;
		max-width: 999%;
	}

	&__head {
		display: flex;
		align-items: flex-end;
		margin: 0 auto $margin-section;
		text-align: left;

		&-title {
			flex-basis: 50%;
		}

		@container (width < 800px) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	// sound Container
	&__flex {
		display: flex;
		gap: 1.5rem;

		@container (width < 700px) {
			flex-wrap: wrap;
		}
	}

	// sound Cards
	&__card {
		position: relative;
		overflow: hidden;
		flex: 50%;
		padding-block: 11rem;
		background-color: $bg-cards;
		border-radius: $rounded;

		&-desc {
			position: absolute;
			z-index: 3;
			bottom: 0;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 2rem;
		}

		video {
			position: absolute;
			inset: 0%;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: $rounded;
		}

		&-img {
			position: absolute;
			inset: auto -12% 0% auto;
			width: 23.75rem;
		}
	}

	&__card:nth-child(1) & {
		&__card-shadow-blur {
			position: absolute;
			z-index: 2;
			bottom: 0%;
			width: 100%;
			height: 65%;
			background-image: linear-gradient(rgb(255 255 255 / 0%) 25%, #000);
		}
	}

	&__card:nth-child(2) & {
		&__card-shadow-blur {
			position: absolute;
			z-index: 2;
			inset: auto -23.5rem -8rem auto;
			width: 52.25rem;
			height: 17.75rem;
			background-color: #020103;
			filter: blur(50px);
			border-radius: 50%;
		}
	}
}

// distribute Cards

.distribute {
	position: relative;

	// container-type: inline-size;
	width: 97vw;
	height: 95vh;
	margin: $margin-section * 4 auto;

	&__video {
		position: absolute;
		z-index: 3;
		inset: 0%;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: $rounded;
	}

	&__video:nth-child(2) {
		z-index: 2;
	}

	&__video:nth-child(3) {
		z-index: 1;
	}

	&__flex {
		position: relative;
		z-index: 4;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		margin-left: 17rem;
		padding-block: 5rem;

		@container (width < 700px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		max-width: 45rem;

		&-tag {
			margin: 0 30px !important;
		}

		&-desc {
			display: flex;
			gap: 4rem;
			align-items: center;
		}
	}

	&__progress {
		display: flex;
		gap: 2rem;
		align-items: flex-end;
		height: 40px;
		margin-top: 2rem;

		&-bar {
			will-change: height;
			width: 1px;
			height: 25%;
			background-color: #8c20f8;
		}
	}
}

// static Cards

.static {
	@include adaptive(2px);

	display: flex;
	gap: 6rem;
	justify-content: center;
	margin: $margin-section auto;

	&__desc{
		text-align: center;
	}
	&__desc-title {
		margin-bottom: 1.5rem;
	}
}

//?  ------------------------ ai video section ------------------------

.ai-video {
	width: 90cqw;
	height: 90cqh;
	margin: 0 auto;
	border: 1px solid #c04e61;
	border-radius: $rounded;
}

@keyframes rotateAnimation {
	0% {
		transform: rotateZ(0deg);
		color: #c04e61;
	}

	100% {
		transform: rotateZ(360deg);
	}
}
