@use "../abstracts" as *;

.hero {
	@include loadify(1s);
	@include adaptive(2px);

	position: relative;
	height: 100vh;
	height: 100svh;

	// margin-bottom: 14rem;
	background: svg-load("../assets/svg/camera-frames.svg", fill=#A652FA);
	background-repeat: no-repeat;
	background-position: 33% top;
	background-size: contain;
	border: 1px solid rgb(255 255 255 / 5.5%);

	&__head {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: center;
		padding-top: rfs(8rem);
		padding-bottom: 3.875rem;
		text-align: center;

		&-title h1 {
			@include only(1) {
				@include loadify(0.4s);
			}

			@include only(2) {
				@include loadify(0.6s);
			}
		}

		p {
			$text-size: 1.6;

			max-width: 46rem;
			font-size: rfs($text-size * 1rem);
			line-height: $text-size;
			text-wrap: balance;
		}
	}

	&__mockup-container {
		position: absolute;

		// bottom: -40%;
		// overflow: hidden;
		left: 50%;
		transform: translateX(-50%);
		width: 27rem;
		height: 53rem;
		border: 2px solid red;

		// width: 35%;
		// height: 78%;
		border-radius: 4rem;

		video {
			position: absolute;
			top: -14rem;
			width: 100%;

			// height: fit-content;
		}
	}

	&__mockup {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
	}

	&__mockup-img {
		position: absolute;
		width: 100%;
		height: 99%;
		object-fit: contain;
		border-radius: 4rem;
	}

	&__video-desc {
		$gaps: rfs(1.7rem);

		position: relative;
		z-index: 4;
		padding: 2.4rem;

		&-tag {
			margin-block: $gaps;
			margin-inline: 27px;
		}

		&-title {
			margin-bottom: $gaps;
		}
		.hero__video-desc-paragraph{
			max-width: rfs(35rem);

		}
	}

	//* Some cool animations
	// add gradiant-blur effect in the background
	&__gradiant-blur-img {
		position: absolute;
		z-index: -1;
		top: 30%;
		left: 50%;
		translate: -50%;
		max-width: 98vw;

		@media (width<= $mq-2xl) {
			max-width: 100%;
		}

		@media (width<= $mq-lg) {
			top: 34%;
		}
	}

	// add faded lines with scroll down text
	&__lines {
		position: absolute;
		z-index: -1;
		top: 37%;
	}

	// add progressbar animations
	&__progress {
		position: absolute;
		top: 0;
		left: 50%;
		translate: -50%;
		rotate: 180deg;
		display: flex;
		gap: 1rem;
		align-items: flex-end;
		height: 40px;
	}

	/* Staggered animation delays for each progress bar */
	&__progress-bar {
		will-change: height;
		width: 1px;
		height: 25%;
		background-color: $bg-animation;

		&:nth-child(5) {
			animation: dancingOne 1s infinite alternate;
		}

		&:nth-child(4) {
			animation: dancingTwo 1.5s infinite alternate;
		}

		&:nth-child(3) {
			animation: dancingThree 1s infinite alternate;
			animation-delay: 1s;
		}

		&:nth-child(2) {
			animation: dancingFour 0.6s infinite alternate;
			animation-delay: 0.6s;
		}

		&:nth-child(1) {
			animation: dancingOne 1s infinite alternate;
			animation-delay: 1s;
		}
	}

	@keyframes dancingOne {
		0% {
			height: 25%;
		}

		50% {
			height: 45%;
		}

		100% {
			height: 60%;
		}
	}

	@keyframes dancingTwo {
		0% {
			height: 20%;
		}

		50% {
			height: 35%;
		}

		100% {
			height: 50%;
		}
	}

	@keyframes dancingThree {
		0% {
			height: 25%;
		}

		100% {
			height: 40%;
		}
	}

	@keyframes dancingFour {
		0% {
			height: 25%;
		}

		100% {
			height: 35%;
		}
	}
}
